<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Document</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>HOMEPAGE</h1>
        <p>Total no of Books: {{num_books}}</p>
        <p>Num Available: {{num_instances_avail}}</p>
        {% if user.is_authenticated %}
            <p>You are logged in</p>
            <p>Welcome: {{user.get_username}}</p>
            <a href="{% url 'logout' %}?next={{request.path}}">LOGOUT</a>
            {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}?next={{request.path}}">LOGIN</a>
        {% endif %}
    </body>
</html>